@import '~styles/variables';

.chat-input {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border: 1px solid $message-input-border;
  border-radius: 4px;
  position: relative;
  &__icon {
    opacity: 0.5;
    span {
      font-size: 18px;
    }
  }
  &__camera-btn {
    margin-right: 13px;
  }
  &__picker {
    position: absolute;
    left: 0;
    bottom: 60px;
    z-index: 1;
  }
}
