$black: #202020;
$blue: #3674FF;
$online: #00C980;
$bg: #F4F7FD;
$bg-search: #F7F8F9;
$border: #F7F7F7;

$message-typing: #E5EDFF;
$message-typing-dots: #A6BDF0;
$message-count: #F46B6B;
$message-audio: #418FFF;
$audio-btn: #0F3997;
$dialog-active: #F3F7FF;
